Client/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Server" />
  <xs:element name="AddComputer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="comp" nillable="true" type="q1:Computer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComputerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComputer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="comp" nillable="true" type="q2:Computer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComputerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="GetComputersResult" nillable="true" type="q3:ArrayOfComputer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComputer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="comp" nillable="true" type="q4:Computer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComputerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>